.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem 0 1rem;
  border-radius: 0.7rem 0.7rem 0 0;
  > p {
    color: var(--primary-color2);
  }
}
h1 {
  padding: 2rem 1rem 0.5rem 1rem;
  font-family: var(--font-display);
  font-size: var(--small-header-size);
  color: var(--secondary-color);
}
& h2 {
  font-family: var(--font-paragraph);
  font-size: var(--paragraph-medium-size);
  font-weight: 400;
  color: var(--secondary-color);
}
p {
  font-family: var(--font-paragraph);
  font-size: var(--paragraph-small-size);
  color: var(--accent-color);
}
.image {
  border-radius: 5rem;
  width: 100px;
  margin: 1rem 0rem 0.3rem 0.4rem;
}
.container > div:first-child > div {
  padding: 1rem 1rem;
}
.container > div:first-child > div:last-child {
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--accent-color);
  border-radius: 0 0 0.7rem 0.7rem;
  justify-content: space-evenly;

  > label {
    color: var(--primary-color2);
  }
}
.container > div {
  background-color: var(--primary-color1);
  border-radius: 1rem;
  > div:has(h1) {
    display: flex;
    background-color: var(--primary-color1);
    border-radius: 0 0 0.7rem 0.7rem;
    > p {
      padding: 0 1rem 1.5rem 1rem;
      color: var(--accent-color);
    }
  }
}
@media (width <= 500px) {
  .container > div {
    margin: 2rem 5%;
  }
  .container > div > div:has(h1) {
    justify-content: space-between;
    align-items: last baseline;
  }
  .container > div:first-child > div {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
@media (width <= 900px) and (width > 500px) {
  .container > div {
    margin: 2rem 5%;
    > div:has(h1) {
      align-items: last baseline;
    }
  }
  .container > div:first-child > div {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
@media (width > 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 1.5rem;
    margin: 2rem 3rem;

    > div > div:has(h1) {
      flex-direction: column;

      & h1 {
        font-family: var(--font-display);
        font-size: var(--display-small-size);
        font-weight: 400;
        padding: 3.5rem 1rem 0.5rem 1rem;
      }
    }
    > div:first-child {
      grid-row: span 2;

      & p {
        padding: 1rem 0rem 0.3rem 0.2rem;
      }
      & h2 {
        font-size: var(--display-small-size);
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        padding: 1.9rem 1rem 1.9rem 1rem;

        & label {
          margin: 0.5rem 0;
          font-family: var(--font-paragraph);
          font-size: var(--paragraph-small-size);
        }
      }
    }
  }
}
