.container {
  margin: 1rem 1rem;
}
.card-wrapper {
  container: card / inline-size;
}
.card-wrapper:first-child,
.card-wrapper:last-child {
  background-color: var(--primary-color1);
  border-radius: 1rem;

  & h1,
  h2 {
    color: var(--accent-color);
  }
  p {
    color: var(--secondary-color);
  }
  > div > div > p {
    color: var(--accent-color);
  }
}
.card {
  padding: 2rem 1rem;
  height: 100%;

  > div > div > p {
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-small-size);
    font-weight: 400;
  }
  > p {
    font-family: var(--font-paragraph);
    font-size: var(--paragraph-small-size);
  }
}
.card-wrapper:nth-child(2),
.card-wrapper:nth-child(3) {
  background-color: #f0f7dc;
  border-radius: 1rem;

  & h1,
  h2 {
    color: var(--secondary-color);
  }
  & p {
    color: var(--accent-color);
  }
}
.card-wrapper:nth-child(4) {
  background-color: dimgray;
  border-radius: 1rem;
  & h1,
  h2 {
    color: var(--primary-color2);
  }
  & p {
    color: var(--primary-color1);
  }
}

img {
  border-radius: 5rem;
}
h1 {
  font-family: var(--font-paragraph);
  font-size: var(--paragraph-small-size);
}
h2 {
  font-family: var(--font-paragraph);
  font-size: var(--paragraph-medium-size);
  margin: 1rem 0;
}
@container card (width <= 330px) {
  h2 {
    font-family: var(--font-display);
    font-size: var(--small-header-size);
  }
  img {
    width: 7rem;
  }
  .card > div > img {
    margin-bottom: 1rem;
  }
}
@container card (width > 330px) {
  .card > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  img {
    width: 3.5rem;
    object-fit: cover;
  }
}
@container card (width > 550px) {
  h2 {
    font-family: var(--font-display);
    font-size: var(--small-header-size);
  }
  img {
    width: 5rem;
    object-fit: cover;
  }
}

@media (width <= 700px) {
  .card-wrapper {
    margin: 1rem 3%;
  }
}
@media (width <= 1000px) and (width > 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
  }
}
@media (width > 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
  }
  .card-wrapper:first-child {
    grid-column: span 2;
  }
  .card-wrapper:nth-child(4) {
    grid-column: span 2;
  }
  .card-wrapper:last-child {
    grid-column: 4/5;
    grid-row: 1/3;
    margin: 0 1rem 0 0;
  }
}
