.container > img {
  filter: grayscale(100%) brightness(1.4);
}
h1 {
  font-family: var(--font-display);
  color: var(--accent-color);
  z-index: 2;
}
p {
  font-family: var(--font-paragraph);
  z-index: 2;
}
.container {
  margin-bottom: 1rem;
}
.container > p {
  color: var(--secondary-color);
}
.container > div:has(p) {
  display: flex;
  height: 2rem;
  > p {
    background-color: var(--secondary-color);
    color: var(--primary-color2);
    padding: 0.3rem 1rem;
  }
  > img {
    background-color: var(--accent-color);
    z-index: 2;
  }
}
@media (width < 560px) {
  .container {
    margin: 1rem 0;
    padding: 0;
    > p {
      padding: 2rem 2% 0 2%;
    }
    > img {
      aspect-ratio: 6/5;
      width: 100%;
      object-fit: cover;
    }
  }
  h1 {
    padding: 2rem 4%;
  }
  .container > p {
    margin: 0 2% 3rem 2%;
  }
  div:has(p) {
    padding: 0 2%;
  }
}

@media (width >= 560px) and (width <= 850px) {
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    > p {
      grid-area: 3/3/4/6;
      margin: 1.5rem 0 3rem 0;
      font-size: var(--paragraph-small-size);
    }
    > img {
      grid-area: 1/1/6/4;
      border-radius: 0 0 1rem 0;
      object-fit: cover;
    }
    > h1 {
      grid-area: 2/3/3/6;
      font-size: var(--display-medium-size);
    }
    > div:has(p) {
      display: flex;
      grid-area: 4/3/5/6;

      height: 2rem;
      > p {
        background-color: var(--secondary-color);
        color: var(--primary-color2);
      }
    }
    .block {
      display: none;
    }
  }
}

@media (width>850px) {
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    > p {
      grid-area: 2/4/3/7;
      margin: 2rem 0 0 1rem;
      font-size: var(--paragraph-medium-size);
    }
    > img {
      grid-area: 1/3/5/5;
      border-radius: 0 0 1rem 0;
      object-fit: cover;
    }
    > div:last-child {
      display: flex;
      grid-area: 3/4/4/6;
      margin-left: 1rem;
      height: 2rem;
      > p {
        background-color: var(--secondary-color);
        color: var(--primary-color2);
      }
    }
  }
  .block {
    grid-area: 1/1/5/3;
    background-color: var(--primary-color1);
  }

  h1 {
    grid-area: 2/1/3/4;
    font-size: var(--display-large-size);
    margin: 2rem 0 0 5rem;
  }
}
